html {
    margin: 0;
    padding: 0;
    background-color: #c6edff;
}

.button-activate a {
    color: black;
}
.button-activate a:hover {
    color: #ffeace;
    background-color: #344a53;
}

.button-disable a {
    color: lightgray;
}

.button-disable a:hover {
    cursor: context-menu;
}

.active-contents {
    margin: 10rem auto;
    display: flex;
    align-items: center;
    width: 82rem;
}

.next-btn {
    text-decoration: none;
    font-size: 6rem;
    color: #000000;
}

.next-btn:hover {
    color: #6b6464;
}

.active-img {
    width: 42rem;
    height: 28rem;
    margin: 1rem auto;
    object-fit: cover;
}

.active-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.icons {
    padding: 1rem;
}