body {
    font-family: 'Oswal', sans-serif;
    margin: 0;
}

#content-buttons ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0.625rem 1.25rem;
}

#content-buttons li {
    margin-left: 1.25rem;
}

#content-buttons a {
    text-decoration: none;
    border-radius: 3px;
    padding: 0.3rem;
}