header {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

header a {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 2.8rem;
    color: #c6edff;
    -webkit-text-stroke: 0.125rem  #2dbdff;
    margin: 0;
    position: relative;
    top: 0.6rem;
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 166, 219, 0.74);
}

#content-buttons a {
    color: #000;
}

#content-buttons a:hover {
    color: white;
    background-color: #2dbdff;
}

#books ul {
    width: 56rem;
    padding: 0;
    margin : 2.5rem auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#books ul li {
    margin: 1.25rem auto;
    width: 12.8rem;
    height: 18.6rem;
    padding: 1.25rem;
    background-color: rgba(130, 186, 244, 0.7);
}

.book img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.book:hover {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

footer {
    background: linear-gradient(120deg, rgb(72,194,250),rgb(45, 189, 255));
    border-top: 1px solid #000;
    text-align: center;
    padding: 0.625rem;
}

footer p {
    font-size: 0.875rem;
}

footer li {
    list-style-type: none;
    margin-bottom: 0.625rem;
    font-size: 0.75rem;
}
