#content-list ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
}

#content-list li {
    margin-left: 20px;
}

#content-list a {
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    padding: 5px;
}

#content-list a:hover {
    color: white;
    background-color: #2dbdff;
}

#books {
    padding: 0;
    margin : 20px auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.book img {
    height: 500px;
    width: 305px;
    object-fit: cover;
    padding: 20px;
}

#footer-content p {
    border-top: 1px solid #000;
    font-size: 14px;
    padding-top: 20px;
}

#footer-content li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 12px;
}